Repository joelcelen/flossboss-java-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_appointment, trigger_logging, trigger_notification, trigger_dentist

.gitlab-ci.yml:

stages:
  - triggers
trigger_appointment:
  stage: triggers
  trigger:
    include: appointment-service/.gitlab-ci.yml
  rules:
    - changes:
        - appointment-service/**/*
trigger_logging:
  stage: triggers
  trigger:
    include: logging-service/.gitlab-ci.yml
  rules:
    - changes:
        - logging-service/**/*
trigger_notification:
  stage: triggers
  trigger:
    include: notification-service/.gitlab-ci.yml
  rules:
    - changes:
        - notification-service/**/*
trigger_dentist:
  stage: triggers
  trigger:
    include: dentist-service/.gitlab-ci.yml
  rules:
    - changes:
        - dentist-service/**/*

Add DentistTool repo
  DentistTool/.gitignore
  DentistTool/.idea/.gitignore
  DentistTool/.idea/encodings.xml
  DentistTool/.idea/misc.xml
  DentistTool/.idea/vcs.xml
  DentistTool/pom.xml
  DentistTool/src/main/java/DentistUI.java
Due: none

Update .gitignore
  .gitignore
Due: none

Create ClientMqtt class for mqtt connection
  .idea/.gitignore
  .idea/flossboss-java-repo.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  DentistTool/pom.xml
  DentistTool/src/main/java/ClientMqtt.java
Due: none

add mqtt to appointment-service
  appointment-service/pom.xml
  appointment-service/src/main/java/AppointmentService.java
  appointment-service/src/main/java/BrokerClient.java
  appointment-service/src/main/resources/atlasconfig.txt
  appointment-service/src/main/resources/hiveconfig.txt
Due: trigger_appointment

Add mqtt configurations and implement a mqtt callback funtion that updates the dentist schedule
  .gitignore
  DentistTool/src/main/java/ClientMqtt.java
  DentistTool/src/main/java/DentistUI.java
Due: none

add mqtt to logging-service
  logging-service/pom.xml
  logging-service/src/main/java/BrokerClient.java
  logging-service/src/main/java/LoggingService.java
Due: trigger_logging

add mqtt to notification-service
  notification-service/pom.xml
  notification-service/src/main/java/BrokerClient.java
  notification-service/src/main/java/NotificationService.java
Due: trigger_notification

add mqtt to dentist-service
  dentist-service/pom.xml
  dentist-service/src/main/java/BrokerClient.java
  dentist-service/src/main/java/DentistService.java
Due: trigger_dentist

Delete atlasconfig.txt
  appointment-service/src/main/resources/atlasconfig.txt
Due: trigger_appointment

Delete hiveconfig.txt
  appointment-service/src/main/resources/hiveconfig.txt
Due: trigger_appointment

Update .gitlab-ci.yml file to run on merge requests
  .gitlab-ci.yml
Due: none

Refactor main loop and add menu for time slots
  DentistTool/src/main/java/DentistUI.java
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Create object for TimeSlots and create addTimeSlots method.
  DentistTool/src/main/java/DentistUI.java
  DentistTool/src/main/java/TimeSlot.java
Due: none

Close scanner and add a few comments
  DentistTool/src/main/java/DentistUI.java
Due: none

downstream workflow rules
  appointment-service/.gitlab-ci.yml
  dentist-service/.gitlab-ci.yml
  logging-service/.gitlab-ci.yml
  notification-service/.gitlab-ci.yml
Due: trigger_appointment, trigger_logging, trigger_notification, trigger_dentist

Add merge request template.
  .gitlab/merge_request_templates/merge_request.md
Due: none

basic database client to appointmentservice
  appointment-service/pom.xml
  appointment-service/src/main/java/AppointmentService.java
  appointment-service/src/main/java/DatabaseClient.java
Due: trigger_appointment

test class for database client
  appointment-service/src/test/java/DatabaseTest.java
Due: trigger_appointment

testing new branch
  DentistTool/src/main/java/DentistUI.java
Due: none

Add register/login menu to DentistUI
  DentistTool/src/main/java/DentistUI.java
Due: none

Update register and login methods in DentistUI to publish messages in json format
  DentistTool/pom.xml
  DentistTool/src/main/java/DentistUI.java
Due: none

Update mqttCallback() to handle dentist authentication confirmation.
  DentistTool/src/main/java/DentistUI.java
Due: none

Implement Dentist ID in MQTT Topics, Refactor Time slot intitialization and addition, Convert mqtt messages to JSON Format
  DentistTool/src/main/java/DentistUI.java
Due: none

basic database client to dentistservice
  dentist-service/pom.xml
  dentist-service/src/main/java/DatabaseClient.java
  dentist-service/src/main/java/DentistService.java
Due: trigger_dentist

test class for database client
  dentist-service/src/test/java/DatabaseTest.java
Due: trigger_dentist

basic database client to notificationservice
  notification-service/pom.xml
  notification-service/src/main/java/DatabaseClient.java
  notification-service/src/main/java/NotificationService.java
Due: trigger_notification

test class for database client
  notification-service/src/test/java/DatabaseTest.java
Due: trigger_notification

basic database client to loggingservice
  logging-service/pom.xml
  logging-service/src/main/java/DatabaseClient.java
  logging-service/src/main/java/LoggingService.java
Due: trigger_logging

test class for database client
  logging-service/src/test/java/DatabaseTest.java
Due: trigger_logging

Update MQTT topics and add comments
  DentistTool/src/main/java/DentistUI.java
Due: none

merge main into branch to have access to database client in dentist-service
  dentist-service/.idea/misc.xml
  dentist-service/pom.xml
Due: trigger_dentist
